[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
simplejson = "*"
python-dotenv = "*"
watchdog = "*"
sqlalchemy = "*"
flask-security = "*"
flask-script = "*"
flask-migrate = "*"
pymysql = "*"
bcrypt = "*"
flask-restful = "*"

[requires]
python_version = "3.7"
